{{ partial "head-blog.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}

<div id="container">
	<div class="outer">
		<div id="blog-archives" class="category">
			<ul class="cp_list">
				{{ range .Data.Pages.Reverse }}
				<li class="blog-list-first">
					<a href="{{.Permalink}}">{{.Title}}</a> <span class="blog-date">{{ .Date.Local.Format "2006-01-02" }}</span>
					{{ with .Params.tags }}{{ range . }}<button class="tag"><a href="/tags/{{ . }}/">{{ . }}</a>{{ end }}</button>{{ end }}
				</li>
				{{ end }}
			</ul>
		</div>
	</div>
</div>

</div>

{{ partial "particles.html" . }}
{{ partial "footer" . }}
</body>
</html>
