{{ partial "head-blog.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}

<article>
	<div class="content">
		<div class="post-time-date">
			{{ if ne .Lastmod .Date }}
			<p>{{ .Lastmod.Format "2006-01-02" }}</p>
			{{ end }}
			{{ $taxo := "tags" }}
			{{ with .Param $taxo }}
			<p><i class="fa-regular fa-folder"></i> {{ if gt (len .) 1 }}{{ end }}
			{{ range $index, $director := . }}
			{{- if gt $index 0 }}, {{ end -}}
			{{ with $.Site.GetPage (printf "/%s/%s" $taxo $director) -}}
			<a href="{{ .Permalink }}">{{ $director }}</a>
			{{ end }}
			{{ end }}
			{{ end }}
		</div>

		<h1>{{ .Title }}</h1>
		{{ .Content }}
	</div>
</article>

{{ partial "next.html" . }}
{{ partial "comment.html" . }}

</div>

{{ partial "particles.html" . }}
{{ partial "footer.html" . }}
</body>
</html>
