<div class="footer-qr">
	<a href="/"><span class="footer-link"><img src="/qr.svg"></span></a>
</div>
<div class="footer-link">
	<span class="footer-link"><a href="https://bsky.app/profile/yui.syui.ai" target="_blank"><i class="fab fa-bluesky"></i></a></span>
		<span class="footer-link"><a href="https://card.syui.ai/ai" target="_blank"><span class="icon-ai"></span></a></span>
	<span class="footer-link"><a href="https://git.syui.ai/ai" target="_blank"><span class="icon-git"></span></a></span>
	<!--
		<span class="footer-link"><a href="https://syui.ai/" target="_blank"><span class="icon-syui"></span></a></span>
	-->
</div>
<footer id="footer">© <a href="https://syui.ai">syui</a></footer>
