<body>
	<div class="containerx">
		{{ $s := path.Dir (.Permalink | relURL) }}
		{{ $t := index (split $s "/") 2 }}
		{{ $o := index (split $s "/") 1 }}
		<header id="header">
			<div class="logo"> 
				{{ partial "svg.html" . }}
			</div>
		</header>

		{{ if eq $o ""}}

		<span class="menu-right-top">
			<!--
			<a class="menu-link-left" href="/bitcoin"><i class="fa-brands fa-bitcoin"></i></a>
			-->
			<!--
			<div id=app></div>
			<script src=/bitcoin/chunk-vendors.js></script>
			<script src=/bitcoin/app.js></script>
			-->

			<a class="menu-link-left-black" href="https://card.syui.ai/ai"><i class="fa-solid fa-copy"></i></a>
			<a class="menu-link-left-black" href="https://manga.syui.ai"><i class="fa-regular fa-comment-dots"></i></a>
			<a class="menu-link-left-black" href="https://vrm.syui.ai"><i class="fa-solid fa-cube"></i></a>
			<a class="menu-link-left-black" href="https://git.syui.ai/ai"><i class="fa-brands fa-git-alt"></i></a>
			<!--
			<a class="menu-link-left-black" href="https://git.syui.ai/ai/ue"><i class="fa-solid fa-gamepad"></i></a>
			<a class="menu-link-left-black" href="/term"><i class="fa-solid fa-terminal"></i></a>
			<a class="menu-link-left-black" href="https://web.syu.is/profile/ai.syu.is"><i class="fa-brands fa-bluesky"></i></a>
			-->
		</span>
		{{ end }}
