<body>
	{{ $s := path.Dir (.Permalink | relURL) }}
	{{ $t := index (split $s "/") 2 }}
	{{ $o := index (split $s "/") 1 }}
	<header id="header">
		<div class="logo"> 
			{{ partial "svg.html" . }}
			{{ if eq $o "" }}
			{{ partial "term.html" . }}
			{{ end }}
		</div>
	</header>
	<div class="containerx">
		{{ if eq $o "" }}

		<span class="menu-right-top">
			<!--
				<a class="menu-link-left" href="/bitcoin"><i class="fa-brands fa-bitcoin"></i></a>
			-->
			<!--
				<div id=app></div>
				<script src=/bitcoin/chunk-vendors.js></script>
				<script src=/bitcoin/app.js></script>
				-->
				
				<a class="menu-link-left-black" href="https://card.syui.ai/ai"><span class="icon-card"></span></a>
				<a class="menu-link-left-black" href="https://manga.syui.ai"><span class="icon-book"></span></a>
				<a class="menu-link-left-black" href="https://vrm.syui.ai"><span class="icon-game"></span></a>
				<a class="menu-link-left-black" href="https://term.syui.ai"><span class="icon-aiterm"></span></a>
				<a class="menu-link-left-black" href="https://git.syui.ai/ai"><span class="icon-git"></span></a>
				<a class="menu-link-left-black" href="/private"><i class="fa-solid fa-list"></i></a>

		</span>
		{{ end }}
