<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<span class="navbar-title-text"><a href="/"><span class="icon-ai"></span></a></span>
			<div class="navbar-nav-left">
				<a class="navbar-brand" href="/blog">ブログ</a>
				<a class="navbar-brand" href="/chara">キャラクター</a>
				<a class="navbar-brand" href="/story">ストーリー</a>
				<a class="navbar-brand" href="/card">カード</a>
			</div>
		</div>
		<div class="navbar-nav-right">
			<a class="menu-link-left" href="https://syui.fanbox.cc/shop" target="_blank"><i class="fa-solid fa-bag-shopping"></i></a>
			<a class="menu-link-left" href="https://bsky.app/profile/yui.syui.ai" target="_blank"><i class="fa-brands fa-bluesky"></i></a>
		</div>
	</div>
</nav>
